.jumbotron:after {
  padding-top: 6rem;
  background-color: #f0e880;
}

#projects {
  background-color: #f0e880;
}

section {
  padding-top: 5rem;
}

.navbar li:hover a {
  transform: translateX(0.2em);
}

.navbar li:active {
  background-color: #f0e880;
}
